.p {
    width: 25%;
    height: 40vh;
    margin: 1rem 0.5rem;
    border: 2px solid #7D0057;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}

.p-browser {
    height: 20px;
    background-color: rgb(216, 216, 216);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 3;
}

.p-circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
    margin: 3px;
}

.p-img {
    width: 100%;
    transition: all 3s ease;
}

.p:hover .p-img {
    transform: translateY(-75%);
}