.c {
    height: 100vh;
    position: relative;
}

.c-bg {
    width: 20px;
    height: 100%;
    background-color: #739D00;
    position: absolute;
}

.c-wrapper {
    padding: 50px;
    display: flex;
}

.c-left {
    flex: 1;
}

.c-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.c-title {
    font-size: 60px;
    width: 60%;
}

.c-info-item {
    display: flex;
    align-items: center;
    margin: 3rem 0;
    font-weight: 300;
    gap: 2rem;
}

.c-icon {
    width: 60px;
    height: 60px;

}

.c-link {
    font-size: 2rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.c-link:hover {
    color: #739D00;
}

.c-desc {
    font-weight: 200;
}

form {
    margin-top: 20px;
}

input {
    width: 50%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}

textarea {
    width: 100%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}

button {
    border: none;
    padding: 15px;
    background-color: #739D00;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .c-wrapper {
       flex-direction: column;
       padding: 0px 50px;
    }

    .c-title {
        margin-top: 1rem;
        font-size: 2rem;
        width: 75%;
    }

    .c-info-item {
        margin: 20px 0px;
    }

    .c-link {
        font-size: 1.5rem;
    }

    .c-icon {
        width: 30px;
        height: 30px;
    }

    .c-desc {
        display: none;
    }

    form {
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
    }

    input {
        width: 35%;
        height: 40px;
        margin: 10px;
        margin-left: 0;
    }

    button {
        margin-top: 1rem;
    }


}