.t {
    display: flex;
    width: 65px;
    height: 38px;
    border-radius: 20px;
    border: 1px solid whi;
    background-color: white;
    position: fixed;
    top: 13px;
    right: 12px;
    z-index: 5;

}

.t-icon {
    width: 30px;
    height: 36px;
    z-index: 3;
    transform: translateY(-0.5px);
    margin-left: 1px;

}

.t-button {
    width: 33px;
    height: 32px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    cursor: pointer;
    left: 0px;
    top: 3px;
}